* {
    font-family: "Montserrat", sans-serif;
    outline: none;
}

body {
    margin: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.calc {
    padding: 93px 0 30px 0;
}

.calc .calc__title {
    margin-bottom: 40.5px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;

    text-align: center;

    color: #000000;
}

.table {
    display: flex;
    justify-content: space-between;

    margin-bottom: 40px;
}

.table .table__material {
    max-width: 555px;
}

.table .table__subtitle {
    margin-bottom: 30px;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #F2F3F7;
}

.table .table__subtitle span {
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
}

.selector__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 555px;
}

.selector .selector__title {
    font-weight: bold;
}

.selector .selector__tabs {
    display: grid;
}

.selector .selector__items {
    display: none;
}

.selector .selector__items.active {
    display: grid;
}

.selector .selector__tabs, .selector .selector__items {
    grid-template-columns: 1fr 1fr;

    margin: 0;
    padding-left: 0;
}

.selector .selector__tab,  .selector .selector__item {
    cursor: pointer;

    margin: 10px 10px 10px 0;

    width: 120px;
    height: 40px;

    border: 1.5px solid #F2F3F7;
    background-color: white;

    transition: all .5s;
}

.selector .selector__tab:hover,  .selector .selector__item:hover {
    box-shadow: 0 0 0 1px #B3002D;
    transition: all .5s;
}

.selector .selector__tab.active, .selector .selector__item.active {
    background-color: #CC0033;
    color: white;
    border: none;
    transition: all 1s;
}

.selector .selector__item:nth-child(even) {
    margin-right: 0;
    justify-self: end;
}

.table .table__apartment, .table .table__lighting {
    width: 263px;
}

.counter {
    margin: 0 69px 24px 69px;
}

.counter .counter__descrip {
    margin-bottom: 15px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

#light > .counter__descrip {
    width: 145px;
}

.counter .counter__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.counter .counter__plus, .counter .counter__minus {
    cursor: pointer;
    width: 40px;
    height: 40px;

    background-color: #F2F3F7;

    border: none;
    font-size: 22px;
    transition: background-color .5s;
}

.counter .counter__plus:hover, .counter .counter__minus:hover {
    background-color:#B1B2B5;
    transition: background-color .5s;
}

.counter .counter__amount {
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
}

.calc .calc__descrip {
    margin-bottom: 34px;

    font-size: 16px;
    line-height: 20px;
    text-align: center;
}
.calc .calc__descrip span {
    color: #CC0033;
}

.finalWidget {
    height: 92px;

    padding: 0 28.5px 0 48px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: #F2F3F7;
}

.finalWidget .finalWidget__finalPrice {
    font-size: 24px;
    line-height: 29px;
}

.finalWidget .finalWidget__finalPrice span {
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;
}

.checkout {
    display: flex;
}

.checkout .checkout__input {
    max-width: 209px;
    height: 50px;

    padding-left: 16px;

    border: none;
    border-radius: 5px;

    font-size: 16px;
    line-height: 20px;
}

.checkout .checkout__submit{
    cursor: pointer;
    
    max-width: 180.5px;
    height: 50px;

    margin-left: 9.5px;

    background-color: #FFD200;

    border: none;
    border-radius: 5px;

    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    transition: box-shadow .5s;
}

.checkout .checkout__submit:hover {
    box-shadow: 0 0 10px 0 #E6BB00;
    transition: box-shadow .5s;
}

@media screen and (max-width: 575.5px) {
    .calc {
        padding: 30px 0;
    }
    .table {
        flex-direction: column;
    }

    .table .table__apartment, .table .table__lighting, .table .table__material {
        width: 100%;
        max-width: none;
    }

    #typeOfFacture {
        margin-bottom: 30px;
    }
    .selector__wrapper {
        flex-direction: column;
        align-items: center;
    }

    .selector .selector__item:nth-child(even) {
        justify-self: start;
    }

    .counter {
        padding: 0 40px;
    }

    .calc .calc__descrip {
        font-size: 14px;
    }

    .finalWidget {
        position: sticky;
        bottom: 0;
        flex-direction: column;
        padding: 10px 28px;
    }

    .finalWidget .finalWidget__finalPrice {
        font-size: 18px;
    }

    .finalWidget .finalWidget__finalPrice span {
        font-size: 22px;
    }

    .checkout .checkout__input, .checkout .checkout__submit {
        font-size: 14px;
    }
}

@media (hover: none) {
    .selector .selector__tab:hover,  .selector .selector__item:hover {
        box-shadow: none;
    }
    .counter .counter__plus:hover, .counter .counter__minus:hover {
        background-color:#F2F3F7;
    }
    .checkout .checkout__submit:hover {
        box-shadow: none;
    }
}